@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    background: var(--bg-color);
}
/* VARIABLES */

:root{
    --container-color:#1a1e21;
    --second-color:#fd8f44;
    --third-color: #c0c0c0;
    --text-color:#1b201b;
    --bg-color:#fbf8f5;
}
::selection{
    color: var(--bg-color);
    background: var(--second-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* ---HEADER */

header {
    background-color: var(--container-color);
}
.logo {
    width: 15px;
    height: 20px;
}
.navbar-brand span{
    color: var(--second-color);
    font-size: 1rem;
}
.navbar-brand {
    transition: transform 0.3s;
}
.navbar-brand:hover{
    transform: scale(1.1);
}
.nav-item a{
    color: var(--second-color);
    font-size: 0.7rem;
    font-weight: 500;
    margin-inline-end: 10px;
}
.nav-item a:hover{
    color: var(--bg-color);
}
.dropdown-item{
    color: var(--text-color);
}
.dropdown-item:hover{
    background: var(--second-color);  
} 
.busqueda{
    height: 1.2rem; 
}
.busqueda input{
    font-size: 0.7rem;
}

/* ------HOME */

.home{
    width: 100%;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 5px #121212c0);
}
.home-text{
    text-align: center;
    transition: transform 0.3s ease;
}
.home-title{
    color: var(--bg-color);
}
.home-title span{
    color: var(--second-color);
}
.home-text:hover{
    color: var(--bg-color);
    transform: scale(1.1);
}
.home-subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--second-color);
}


/* -------INSTITUTOS */

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.logos img{
    transition: transform 0.3s;
}
.logos img:hover{
    transform: scale(1.1);
}
.logos .utec{
    width: 50px;
}
.logos .utu{
    width: 70px;
}
.logos .ifsul{
    width: 70px;
}

/* --------NEWS */

.title{
    width: 20%;
    display: flex;
    justify-content: end;
    background-color: var(--second-color);
    color: white;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1.7em;
    font-weight: 600;
    padding-block: 10px;
    padding-inline-end: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
}
.title:hover{
    transform: translateX(10px);
    color: var(--text-color);
    background: #fd8e4483;
}

/* Noticia principal */
.imgP {
    width: 100%;
    height: 280px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
}
.imgP:hover{
    transform: translateY(-5px);
}
.news_title{
    font-size: 0.65rem;
    font-weight: 600; 
    background: var(--bg-color); 
    width: 97.4%;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px #0b0b0b2b 

}
/* Noticias secundarias */
.card{
    background: var(--bg-color);
    height: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-5px); 
}
.card-img{
    width: 100%;
    height: 100px;
    padding-bottom: 5px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.card-date{
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--second-color);
}
.card-title{
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-title:hover{
    color: var(--second-color);
}
.card-text{
    color: #9b9b9b;
    font-size: 0.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-ordinal: vertical;
    overflow: hidden;
}

.d-none {
    display: none;
}
/* Flechas */
#verMasBtn{
    color: var(--second-color);
    font-size: 1.5rem;
    transition: transform 0.3s;
}
#verMasBtn:hover{
    transform: scale(1.2);

}
#verMenosBtn{
    color: var(--second-color);
    font-size: 1.5rem;
    transition: transform 0.3s;
}
#verMenosBtn{
    transform: scale(1.2);
}


/* -------SELECTIVE PROCESS */

.process {
    width: 600px;
    margin: 0 auto; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--container-color);
    border-radius: 20px;
    box-shadow: 0 2px hsla(357, 82%, 51%, 0.775);
    gap: 15px;
}
.process i{
    color: var(--second-color);
    margin-bottom: 15px;
    font-size: 1.5rem;
}
#countdown {
    font-size: 0.8rem; 
    font-weight: 600;
    color: var(--bg-color);
}
#countdown:hover {
    color: var(--second-color); 
}

/* ------TESTIMONIAL */

.testimonial{
    width: 500px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    align-items: center;   
}
.testimonial:hover{
    transform: translateY(-5px);
    background: var(--third-color);
    border-radius: 50px;
}
.testimonial .image{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .slide p{
    text-align: center;
    font-style: italic;
    font-size: 0.65rem;
    padding-inline: 20px;
}
.testimonial .slide .quote-icon{
    font-size: 1rem;
    color: var(--second-color);
}
.testimonial .slide .name{
    font-size: 0.65rem;
    font-weight: 700;
    padding-top: 5px;
    color: #333;
}
.testimonial .slide .image:hover {
    transform: scale(1.1);
}
#indicator{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--second-color);
    margin-top: 50px;
}
#indicator:hover{
    background-color: var(--container-color);
}


/* -------FOOTER */

.footer{
    background: var(--container-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 15px 4px 14px hsl(355deg 25% 15% / 10%);
    color: var(--bg-color);
}
.footer span{
    color: var(--second-color);
}
.footer p{
    font-size:0.938rem ;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.social .bx{
    font-size: 1.4rem;
    color: var(--bg-color);
}
.social .bx:hover{
    color: var(--second-color);
    transition: 0.3s all linear;
}

/*---------------------------------------*/

/* ---PÁGINA 3 - NOTICIA */

.news-header {
    width: 100%;
    height: 400px;
    background-color: var(--container-color);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative; 
}
.news-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    filter: drop-shadow(0 0 8px #070707c0);
    z-index: -1; 
}
.post-container{
    max-width: 700px;
    margin: auto;
    width: 100%;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}
.header-title{
    width: 80%;
    font-size: 1.4rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1.5rem;
}
.main_photo{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 20px;
}

/* ------IMAGES */

.thumbnails {
    display: flex;
    justify-content: center;
}
.thumbnail {
    width: 100px;
    height: 75px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}
.thumbnail:hover {
    opacity: 1;
}

/* -------CONTENT */

.post-content{
    margin-top: 9rem !important;
}
.sub-heading{
    font-size: 0.8rem;
}
.post-credit{
    font-size: 0.5rem;
    text-align: justify;
}
.post-date{
    font-size: 0.5rem;
    text-align: justify;
}
.post-text{
    font-size: 10px;
    line-height: 1rem;
    margin: 1rem 0;
    text-align: justify;
}

.font-adjust {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 10px;
    color: var(--second-color);
    border-radius: 50%;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    row-gap: 10px;
}

/* ------SHARE */

.share{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.8rem;
}
.share span{
    font-size: 0.8rem;
    background: var(--second-color);
    padding: 5px 5px;
    border-radius: 10px;
}
.share span:hover {
    color: var(--second-color);
    background: var(--container-color);
    padding: 5px;
    border-radius: 10px;
}
.share .social .bx{
    font-size: 1rem;
    color: var(--text-color);
}
.share .social .bx:hover{
    color: var(--second-color);
    transition: 0.3s all linear;
}
.share .social {
    display: none;
}
.share.post-container:hover .social {
    display: block;
}

